Django==1.7.1
-e git://github.com/django-nose/django-nose.git@154b663097e8f3131fe5d1cdd8a8df2e388450ac#egg=django_nose-dev
gunicorn==19.1.1
nose==1.3.4
requests==2.4.3
whitenoise==1.0.4
wsgiref==0.1.2
